<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button>
          </ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="map">
    <div>
      <p style="color: #4970F0; font-family: 'Nunito Sans', sans-serif; font-size: 40px; margin-top: 13px; margin-left: 7px; font-weight: bold;">{{distancia_total}} Kms</p>
    </div>

    <div class="item" slot="none">
      <div class="start">
        <button (click)="startTracking()">
          <ion-icon style="height: 60px; width: 60px;" name="locate" ></ion-icon> 
        </button>
      </div>
      <div class="stop">
        <button (click)="stopTracking()">
          <ion-icon style="height: 60px; width: 60px;" shape="round" name="stop-circle-outline"></ion-icon>
        </button>
      </div>
    </div>
  </div>
</ion-content>

